<a href="https://colab.research.google.com/github/VictorTome/TomeData/blob/main/Linear_Regression_Insurance_Charge_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Linear Regression for a Insurance company determine hoe much to charge on it's policy

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [12]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [11]:
!pip install numpy==1.25.2 pandas==1.5.3 matplotlib==3.7.1 seaborn==0.13.1 scikit-learn==1.2.2 sklearn-pandas==2.2.0 -q --user

In [13]:
policy_df = pd.read_csv('/content/drive/MyDrive/insurance.csv')
policy_df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [16]:
policy_df.shape

(1338, 7)

In [17]:
#Check how many values is missing on the Charge Columm
policy_df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [20]:
# Group the data by region and calculate the median insurance charges for each region

median_charges_by_region = policy_df.groupby('region')['charges'].median()

# Find the region with the highest median charges
highest_median_region = median_charges_by_region.idxmax()
highest_median_value = median_charges_by_region.max()

highest_median_region, highest_median_value

('northeast', 10057.652025)

In [21]:
# Correlation between age and charges
correlation_age_charges = policy_df['age'].corr(policy_df['charges'])
correlation_age_charges

0.29900819333064754

In [24]:
# Create dummy variable for the categorical columm
data_with_dummies = pd.get_dummies(data, drop_first=True)
print(data_with_dummies)

NameError: name 'data' is not defined

In [ ]:
2710

In [26]:
# Drop the 'bmi' column
data_dropped_bmi = policy_df.drop(columns=['bmi'])

# Display the first few rows to confirm the column was dropped
print(data_dropped_bmi.head())

   age     sex  children smoker     region      charges
0   19  female         0    yes  southwest  16884.92400
1   18    male         1     no  southeast   1725.55230
2   28    male         3     no  southeast   4449.46200
3   33    male         0     no  northwest  21984.47061
4   32    male         0     no  northwest   3866.85520

In [28]:
# Split the data in a 70:30 ratio to obtain the train and test sets
split_ratio = 0.3
train_data, test_data = train_test_split(policy_df, test_size=split_ratio, random_state=1)

In [29]:
#How many rows are on the test set?
test_data.shape

(402, 7)

In [32]:
# Convert the categorical value of column Sex to numerical variable
data_with_dummies = pd.get_dummies(policy_df, drop_first=True)
print(data_with_dummies)

      age     bmi  children      charges  sex_male  smoker_yes  \
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

      region_northwest  region_southeast  region_southwest
0                False             False              True
1                False              True             False
2                False              True             False
3                 True             False             False
4                 True             False             False
...                ...               ...               ...
1333              True             False             False
1334             False             False             False
1335             False              True             False
1336             False             False              True
1337              True             False             False

[1338 rows x 9 columns]

In [33]:
# Build a linear regression model using the train set
X_train = train_data.drop('charges', axis=1)
y_train = train_data['charges']

# Create a linear regression model
model = LinearRegression()

# Fit the model to the training data
model.fit(X_train, y_train)

intercept = model.intercept_

print(f"The intercept of the linear regression model is: {intercept}")

ValueError: could not convert string to float: 'male'

In [34]:
# Convert Sex into dummy variable
data_with_dummies = pd.get_dummies(policy_df, drop_first=True)
print(data_with_dummies)

      age     bmi  children      charges  sex_male  smoker_yes  \
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

      region_northwest  region_southeast  region_southwest
0                False             False              True
1                False              True             False
2                False              True             False
3                 True             False             False
4                 True             False             False
...                ...               ...               ...
1333              True             False             False
1334             False             False             False
1335             False              True             False
1336             False             False              True
1337              True             False             False

[1338 rows x 9 columns]

In [36]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# Prepare the data: Drop the 'bmi' column and convert categorical data to dummies
policy_df = pd.get_dummies(policy_df, drop_first=True)
policy_df.drop(columns=['bmi'], inplace=True)

# Define features (X) and target (y)
X = policy_df.drop(columns=['charges'])
y = policy_df['charges']

# Split the data into training and testing sets (80-20 split)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Extract the intercept
intercept = model.intercept_

print(f"The intercept of the linear regression model is: {intercept}")

The intercept of the linear regression model is: -2861.535143386438

In [37]:
# Calculate R-squared on the training dataset
r_squared_train = model.score(X_train, y_train)

print(f"The R-squared value of the model on the training dataset is: {r_squared_train}")

The R-squared value of the model on the training dataset is: 0.7154908512885264

In [38]:
# Calculate the RMSE
from sklearn.metrics import mean_squared_error
import numpy as np

# Predict the charges on the test set
y_pred_test = model.predict(X_test)

# Calculate the Mean Squared Error (MSE) on the test set
mse_test = mean_squared_error(y_test, y_pred_test)

# Calculate the Root Mean Squared Error (RMSE)
rmse_test = np.sqrt(mse_test)

print(f"The RMSE on the test set is: {rmse_test}")

The RMSE on the test set is: 6142.085421924394

In [39]:
from sklearn.metrics import mean_absolute_error

# Predict the charges on the test set
y_pred_test = model.predict(X_test)

# Calculate the Mean Absolute Error (MAE) on the test set
mae_test = mean_absolute_error(y_test, y_pred_test)

print(f"The MAE on the test set is: {mae_test}")

The MAE on the test set is: 3932.6817626515353